* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html {
    font-family: 'Lato', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-y: auto;
    background-color: #dedfe4;
    background-image: url('resource/background.jpg');
    background-size: 100% auto;
    background-attachment: fixed;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

header {
    padding: 5% 3%;
    background: rgba(0, 0, 0, 0.25);
}

header h1 {
    padding-top: 1%;
    font-size: 110px;
    line-height: 125px;
    text-transform: uppercase;
    font-family: 'Arial', serif;
}

header p {
    padding: 0 15% 10%;
    color: #f4f4f4;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 15px;
    font-family: 'Cutive Mono';
}

a {
    text-decoration: none;
    color: #73cfde;
}

a:hover {
    color: #54abb9;
}

.content a {
    color: #5da7b2;
    font-weight: 400;
}

.content a:hover {
    color: #377c86;
}

#shortcut {
    background: rgba(34, 34, 34, 0.82);
}

#shortcut div:nth-child(1),
#shortcut div:nth-child(3) {
    background: rgba(18, 18, 18, 0.08);
}

#shortcut div {
    display: inline-block;
    width: 33%;
    padding: 4% 3%;
    margin: 0;
    vertical-align: top;
}

#shortcut p {
    font-weight: 300;
    font-size: 18px;
    padding: 0 40px;
}

a.button {
    border: 2px solid white;
    padding: 13px 14px 12px;
    display: inline-block;
    transition: all 200ms ease-in-out;
    text-transform: uppercase;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    color: white;
}

a.button:hover {
    cursor: pointer;
    border-color: white;
    color: #11454b;
    background: white;
}

.content {
    color: gray;
    padding: 50px 15%;
    text-align: left;
    background: white;
    font-weight: 300;
    font-size: 20px;
}

.content h1 {
    font-size: 28px;
    border-bottom: 1px solid #bcbcbc;
    margin-bottom: 15px;
    width: 30%;
}

a img {
    width: 50px;
    height: 50px;
    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -khtml-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    border-radius: 50%;
    margin: 0px 3px;
}

a img:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

a.demo {
    border-color: #8e8e8e;
    color: #8e8e8e;
    font-size: 16px;
    line-height: 16px;
}

a.demo:hover {
    cursor: pointer;
    border-color: #8e8e8e;
    color: white;
    background: #8e8e8e;
}

.brackets {
    color: #9f9f9f;
    font-size: 17px;
}

footer {
    padding: 50px 20px 80px;
    line-height: 22px;
    background: rgba(36, 36, 36, 0.88);
}

@media(max-device-width:850px),
(max-width:850px) {
    #shortcut div {
        width: 100%;
        display: block;
    }
    header {
        padding: 10%;
    }
    header h1 {
        font-size: 75px;
    }
    header p {
        padding: 0 20px;
        font-size: 20px;
    }
}