.transition-400 {
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

#perfectfont-window {
    width: 600px;
    height: 400px;
    font-size: 16px;
    left: 300px;
    top: 10px;
    border-radius: 6px;
    position: fixed;
    z-index: 999999;
    background: rgba(237, 237, 237, 0.75);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    display: none;
    border: 1px solid rgba(183, 183, 183, 0.85);
}

#perfectfont-header {
    width: 100%;
    padding: 9px 8px;
    font-size: 17px;
    text-align: center;
    box-sizing: border-box;
    background: rgb(226, 226, 226);
    border-radius: 6px 6px 0px 0px;
    color: #3c3c3c;
    border-bottom: 1px solid #b7b7b7;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    cursor: move;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#perfectfont-header span {
    width: 10px;
    margin: 4px 2px;
    border-radius: 50%;
    cursor: default;
    height: 10px;
}

#perfectfont-close,
#perfectfont-min,
#perfectfont-max {
    float: left;
}

#perfectfont-dock-left,
#perfectfont-dock-top,
#perfectfont-dock-right {
    float: right;
    background-color: rgb(95, 95, 95);
    border: 1px solid rgb(59, 59, 59);
}

#perfectfont-close {
    background-color: rgb(252, 89, 89);
    border: 1px solid rgb(191, 77, 77);
}

#perfectfont-close:hover {
    background-color: rgb(214, 69, 69);
    border: 1px solid rgb(186, 66, 66);
}

#perfectfont-min {
    background-color: rgb(254, 190, 48);
    border: 1px solid rgb(209, 159, 47);
}

#perfectfont-min:hover {
    background-color: rgb(222, 165, 38);
    border: 1px solid rgb(191, 145, 41);
}

#perfectfont-max {
    background-color: rgb(54, 205, 64);
    border: 1px solid rgb(41, 160, 49);
}

#perfectfont-max:hover {
    background-color: rgb(39, 157, 47);
    border: 1px solid rgb(33, 137, 40);
}

#perfectfont-list-container {
    width: 22.5%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-radius: 0px 0px 0px 6px;
    vertical-align: top;
    background: rgb(255, 255, 255);
}

#perfectfont-split-size {
    padding: 9px;
    display: inline-block;
    font-size: 14px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
    width: 100%;
}

#perfectfont-split-size input {
    vertical-align: 1px;
}

#perfectfont-selection-container {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(203, 203, 203);
    border-right: 1px solid rgb(203, 203, 203);
}

#perfectfont-selection {
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 7px;
    font-size: 14px;
    background: #c9d8cc;
    text-align: center;
    border: 1px solid rgb(157, 157, 157);
    cursor: pointer;
}

#perfectfont-selection:hover {
    background: #b1c7b5;
}

#perfectfont-list {
    width: 100%;
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    border-radius: 0px 0px 0px 6px;
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(246, 246, 246);
    box-shadow: inset -1px 0px #bcbcbc;
}

#perfectfont-list li {
    list-style-type: none;
    padding: 11px 5px 11px 0px;
    color: #c1c1c1;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    line-height: 18px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

#perfectfont-list li:hover {
    background: rgba(229, 229, 229, 0.49);
}

#perfectfont-list li p {
    padding-left: 6px;
}

#perfectfont-list li span {
    font-size: 11px;
    display: block;
    padding: 0px 7px 0px 3px;
    display: inline-block;
    color: #c7c7c7;
    border-radius: 0px 20px 20px 0px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: 1px 1px 1px 0px;
}

#perfectfont-list li.perfectfont-selected span {
    color: #626262;
    background-color: rgba(229, 229, 229, 0.81);
    border-style: solid;
    border-color: rgb(181, 181, 181);
    border-width: 1px 1px 1px 0px;
}

#perfectfont-list li.perfectfont-selected {
    background: rgb(255, 255, 255);
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    color: #505050;
}

#perfectfont-list li:first-child.perfectfont-selected {
    border-top: 1px solid transparent;
}

#perfectfont-detail {
    width: 40%;
    color: #818181;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 0px 0px 6px 0px;
    overflow: auto;
    background: rgba(255, 255, 255, 1);
}

#perfectfont-available-container {
    width: 37.5%;
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: top;
    border-right: 1px solid rgb(203, 203, 203);
    box-sizing: border-box;
}

#perfectfont-available-container div {
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding: 4px 5px;
}

#perfectfont-available-container div#perfectfont-search-container {
    width: 100%;
    box-sizing: border-box;
    background: white;
    border-bottom: 1px solid rgb(203, 203, 203);
    padding: 5px;
}

#perfectfont-search-container input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid rgb(157, 157, 157);
    padding: 3px 3px 3px 11px;
    font-size: 14px;
    outline-width: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    font-weight: 300;
}

#perfectfont-available-container span {
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 20px;
    margin: 0 2px;
    background: #f7f7f7;
    border: 1px solid #b9b9b9;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

#perfectfont-available-container span:hover {
    background: #eaeaea;
}

#perfectfont-available-container span.active {
    background-color: rgba(80, 141, 84, 0.81);
    border: 1px solid rgba(64, 116, 67, 0.87);
    color: white;
}

#perfectfont-available {
    width: 100%;
    height: auto;
    overflow-y: auto;
    display: inline-block;
    outline-width: 0;
    outline: none;
    border: 0;
    padding: 5px;
    font-size: 15px;
}

#perfectfont-available::-webkit-scrollbar,
#perfectfont-list::-webkit-scrollbar,
#perfectfont-available-container div::-webkit-scrollbar {
    display: none
}

#perfectfont-preference {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}

.perfectfont-styletool {
    width: 20%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
    border-left: 1px solid rgba(190, 190, 190, 0.67);
    border-bottom: 1px solid rgba(190, 190, 190, 0.67);
}

.perfectfont-styletool:first-of-type {
    border-left: 0;
}

#perfectfont-preference li {
    padding: 8px 10px 9px 10px;
    border-bottom: 1px solid rgba(196, 196, 196, 0.85);
    border-right: 1px solid rgba(196, 196, 196, 0.85);
    margin: 0;
    background: rgb(246, 246, 246);
    list-style-type: none;
    font-size: 15px;
    display: block;
}

#perfectfont-preference span {
    font-size: 12px;
    color: #8e8e8e;
    display: inline-block;
}

#perfectfont-value {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

#perfectfont-value input {
    width: 100%;
    box-sizing: border-box;
    display: block;
    padding: 8px 10px 9px 10px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    background: rgba(255, 255, 255, 0.3);
    color: #3d8983;
    border-color: rgba(196, 196, 196, 0.85);
    font-size: 15px;
    outline-width: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: none;
    font-weight: 300;
}

#perfectfont-value input[type=color] {
    padding: 1px 3px 1px 3px;
}

#perfectfont-value input:hover {
    background: rgba(255, 255, 255, 0.15);
}

#perfectfont-value input:focus {
    background: rgba(255, 255, 255, 0.25);
}

#perfectfont-available option {
    outline-width: 0;
    outline: none;
    line-height: 18px;
    font-weight: 400;
}

#perfectfont-available option:hover {
    background: rgba(201, 227, 204, 0.29);
}